/* styles for theme options page */
#lycka-dashboard-wrap .nav-tab-wrapper {
	padding-top: 10px;
	margin-bottom: 24px;
}
.wrap .content {
	margin-top: 12px;
	padding: 12px 24px 24px;
	border: solid 1px #e5e5e5;
	background: white;
}
.wrap .content .button-primary {
	margin:1px 0;
}
.wrap .content ul {
	list-style: disc;
	margin-left: 36px;
}
.content-licenses {
	border: none;
	padding: 0;
}
.content-licenses form {
	padding: 0 24px;
	margin-bottom: 24px;
	border: solid 1px #ccc;
	background: white;
}
.content-licenses form h4 {
	padding: 12px 24px;
	margin: 0 12px 12px -24px;
	width: 100%;
	background: #f5f5f5;
	border-bottom: solid 1px #ccc;
	font-weight: 600;
	font-size: 16px;
}
.content-licenses form span {
	display: block;
}
.content-licenses label {
	display: block;
}
.content-licenses .invalid {
	background: #E54C56;
}
.content-licenses .valid {
	background: #3FBF5D;
	color: white;
	padding: 12px;
}
.content-licenses .valid a {
	color: white;
}
.content-licenses .form-table {
	margin: 12px 0;
	display: block;
}
.content-licenses .form-table td, .content-licenses .form-table th {
	border: solid 1px #e5e5e5;
	display: block;
	width: 100%;
	width: calc(100% - 24px);
	padding: 12px;
}
.content-licenses .form-table th {
	background: #f5f5f5;
	border-bottom: none;
}
.content-licenses .form-table tr {
	margin: 12px 0;
	display: block;
}

/* Lycka option panel */
.vt-upgrade-thumb img { border: 1px solid #ccc; }
#customize-info, #customize-theme-controls > ul > .accordion-section:first-child {
	background: #f25d46;
	color: #fff;
}

/* Lycka widgets */
#widget-list [id*='_lycka'] .widget-top,
#widget-list [id*="_lycka"] .widget-title h3 { 
	background: #f25d46;
	color: #fff;
}

#available-widgets-list [id*="lycka-"].widget-tpl,
#available-widgets-list [id*="lycka_lite_"].widget-tpl  { 
	background: #f25d46;
	color: #fff;
}

#available-widgets-list [id*="lycka-"].widget-tpl:hover,
#available-widgets-list [id*="lycka_lite_"].widget-tpl:hover  { 
	background: #F68978;
	color: #fff;
}

#available-widgets-list [id*="lycka-"] .widget-top, #available-widgets [id*="lycka-"] .widget .widget-description, 
#available-widgets-list [id*="lycka_lite_"] .widget-top, #available-widgets [id*="lycka_lite_"] .widget .widget-description{ 
	color: #fff;
}

.widget-separator { 
	font-size: 18px; 
	font-weight: 600;
	border-bottom: 2px solid #ddd;
}

/* 600px */
@media all and (min-width: 37.5em) {
	.wrap .content {
		width: 39%;
		float: left;
	}
	.wrap .content p {
		min-height: 55px; margin:0px;
	}
	.content-customization, 
	.content-support,
	.content-resources,
	.content-premium-upgrades {
		margin-right: 2%;
	}
}

/* 768px */
@media (max-width: 768px) {
	.wrap .content:nth-child(5) {
		clear: left;
	}
}

/* 1100px */
@media all and (min-width: 68.75em) {
	.wrap .content {
		width: 27%;
	}
	.wrap .content:nth-child(3n + 4) {
		clear: left;
	}
	.content-customization, .content-resources, .content-support, .content-premium-upgrades {
		margin-right: 1%;
	}
	.content-premium-upgrades {
		margin-right: 0;
	}
	.content-licenses h3 {
		clear: both;
	}
	.content-licenses form {
		width: 43%;
		float: left;
	}
	.content-licenses form.odd {
		margin-right: 2%;
		clear: left;
	}
	.content-licenses form:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}

@media (min-width: 1280px) {
	.wrap .content:nth-child(3n + 3),
	.wrap .content:nth-child(3n + 4){
		clear: none;
	}
/* End Media ------------------------------------------------- */}

/* Styles for Post Video meta box */
#ct_lycka_lite_video .inside {
	padding: 0;
	margin: 0;
}
#ct_lycka_lite_video .description {
	padding: 6px 12px 12px 24px;
}

.ct_lycka_lite_video_input_container {
	padding: 24px 24px 12px;
}
.ct_lycka_lite_video_input_container label {
	margin-right: 46px;
	font-weight: 700;
}
.ct_lycka_lite_video_input_container div {
	position: relative;
	display: inline-block;
}
.ct_lycka_lite_video_input_container div svg {
	position: absolute;
	top: 3px;
	padding: 5px;
	right: 3px;
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	transition: opacity 0.2s ease;
	  -webkit-transition: opacity 0.2s ease;
	  -moz-transition: opacity 0.2s ease;
	  -o-transition: opacity 0.2s ease;
	  -ms-transition: opacity 0.2s ease;
}
.ct_lycka_lite_video_input_container.has-vid svg {
	opacity: 1;
	  -moz-opacity: 0;
	  -webkit-opacity: 0;	
}
.ct_lycka_lite_video_preview_container {
	position: relative;
	padding: 24px;
	text-align: center;
	min-height: 300px;
	border: dashed 4px #E1ECED;
	background: #F2F9FA;
}
.ct_lycka_lite_video_preview_container label {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	display: block;
	font-size: 24px;
	color: #C9D2D4;
	text-transform: uppercase;
	letter-spacing: 0.14em;
}
.ct_lycka_lite_video_preview_container.has-vid {
	min-height: 0;
	border: none;
	border-bottom: solid 1px #e5e5e5;
	background: none;
}
.ct_lycka_lite_video_preview_container .loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(67, 179, 196, 0.4);
	opacity: 0;
	text-align: center;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.ct_lycka_lite_video_preview_container .loading svg {
	position: absolute;
	right: 47%;
	top: 38%;
	animation: spin 2s linear infinite;
	  -webkit-animation: spin 2s linear infinite;
}
.ct_lycka_lite_video_preview_container.ajax-loading .loading {
	visibility: visible;
	opacity: 1;
	  -moz-opacity: 1;
	  -webkit-opacity: 1;	
}
@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}