#pixie-single .article-detail {
  margin: 30px 0;
}

#pixie-single .article-detail h2 {
  margin: 0;
  font-family: $font-satisfy;
  font-size: $font-size-title;
  text-align: center;
}

#pixie-single .article-detail h2,
#pixie-single .article-detail .article-date-parution,
#pixie-single .article-detail p {
  @include max-screen($large-devices - 1){
    padding: 0 20px;
  }
}

#pixie-single .article-detail iframe {
  @include max-screen($large-devices - 1){
    width: 100%;
    height: auto;
  }
}

#pixie-single .article-detail .article-date-parution {
  font-style: italic;
  text-align: center;
  color: $pink-light;
}

#pixie-single .article-detail .article-image {
  padding: 30px 0;
}

#pixie-single .article-detail .article-image img {
  width: 100%;
  height: auto;
}

#pixie-single .article-partage {
  margin: 60px 0;
  @include max-screen($large-devices - 1){
    padding: 0 20px;
  }
}

#pixie-single .article-partage:after {
  display: block;
  content: "";
  clear: both;
}

#pixie-single .article-partage .center-partage {
  display: block;
  margin: 0 auto;
  width: 450px;
  @include max-screen($large-devices - 1){
    width: auto;
    text-align: center;
  }
}

#pixie-single .article-partage .texte-partage {
  float: left;
  font-family: $font-satisfy;
  font-size: $font-size-title;
  color: $pink-light;
  @include max-screen($large-devices - 1){
    float: none;
  }
}