/* ---------------------------------------------------------------------------------------------------------------------
Page
----------------------------------------------------------------------------------------------------------------------*/
#pixie-page {
  margin-bottom: 30px;
}

#pixie-404 h2,
#pixie-page .page-detail h2 {
  margin: 0;
  font-family: $font-satisfy;
  font-size: $font-size-title;
  text-align: center;
}