/* fonts */
$font-satisfy : 'Satisfy', cursive;

/* breakpoints */
$small-devices : 768;
$medium-devices : 992;
$large-devices : 1200;


/* colors */
$dark : #000000;
$white : #ffffff;

$blue-dark : #024269;
$blue-light: #E8E9ED;
$pink-dark : #AA357A;
$pink-dark-transparency : #C472A2;
$pink-light : #E7A6C5;
$pink-light-transparency : #FAEDF3;