/* ---------------------------------------------------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------------------------------------------------*/
footer {
  margin: 30px 0px 0px 0px;
  padding: 30px 0px;
  border-width: 3px 0px 0px 0px;
  border-style: dotted;
  border-color: $pink-dark;
}

footer .content {
  text-align: center;
  @include content-div;
  @include max-screen(520){
    padding: 0 20px;
  }
}

footer .signature-footer {
  width: 500px;
  @include max-screen(520){
    width: 100%;
  }
}

footer .menu-reseaux-sociaux-container ul {
  padding: 0;
}
