/* ---------------------------------------------------------------------------------------------------------------------
Header
----------------------------------------------------------------------------------------------------------------------*/
header .content {
  @include content-div;
}

.header-link-home {
  display: block;
}

#header-custom-image {
  display: block;
  width: 100%;
  height: auto;
}