/* ---------------------------------------------------------------------------------------------------------------------
Navigation desktop
----------------------------------------------------------------------------------------------------------------------*/
nav.desktop-navigation {
  display: block;
  margin-bottom: 20px;
  border-width: 0px 0px 3px 0px;
  border-style: dotted;
  border-color: $pink-dark;
  @include max-screen($large-devices - 1){
    display: none;
  }
}

nav.desktop-navigation .content {
  @include content-div;
  @include clearfix;
}

nav.desktop-navigation .menu {
  margin: 0;
  padding: 15px 0px;
  float: left;
  @include clearfix;
}

nav.desktop-navigation .menu .menu-item {
  padding-right: 30px;
  float: left;
  list-style: none;
  font-family: $font-satisfy;
  font-size: 24px;
  color: $blue-dark;
  background-image: url("images/menu_bg.svg");
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

nav.desktop-navigation .menu .menu-item:hover {
  background-image: url("images/menu_bg_hover.svg");
}

nav.desktop-navigation .menu .menu-item a {
  color: $blue-dark;
  text-decoration: none;
}

nav.desktop-navigation .menu .menu-item-home .dashicons-admin-home::before {
  font-size: 32px;
}

nav.desktop-navigation .sub-menu {
  position: absolute;
  display: none;
  width: 650px;
  padding: 10px 0;
  background-color: $white;
  border-width: 0 3px 3px 3px;
  border-style: dotted;
  border-color: $pink-dark;
  z-index: 1000;
}

nav.desktop-navigation .sub-menu .menu-item {
  display: block;
  float: none;
  padding: 5px 10px;
  background-image: none;
  font-family: 'Calibri', 'Arial';
  font-size: 16px;
}

nav.desktop-navigation .sub-menu .menu-item:hover {
  background-color: $pink-light-transparency;
  background-image: none;
}

nav.desktop-navigation .sub-menu .menu-item:hover a {
  display: block;
  font-weight: bold;
  color: $pink-dark;
}

nav.desktop-navigation .boutons-menu {
  float: right;
}

/* ---------------------------------------------------------------------------------------------------------------------
Navigation mobile
----------------------------------------------------------------------------------------------------------------------*/
nav.mobile-navigation {
  display: none;
  padding: 0 20px;
  @include max-screen($large-devices - 1){
    display: block;
  }
  @include clearfix;
}

nav.mobile-navigation .burger-navigation {
  margin: 6px 0;
  padding: 6px 0;
  width: 30px;
  float: right;
  cursor: pointer;
}

nav.mobile-navigation .burger-line-navigation {
  margin-bottom: 6px;
  height: 3px;
  background-color: $blue-dark;
}

nav.mobile-navigation .burger-line-navigation:last-of-type {
  margin-bottom: 0;
}

nav.mobile-navigation .content {
  position: fixed;
  top: 0;
  right: 0px;
  background-color: $white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

nav.mobile-navigation .boutons-menu > div {
  text-align: center;
}

nav.mobile-navigation .boutons-menu > div > ul {
  display: inline-block;
  padding: 0;
}

nav.mobile-navigation .menu {
  margin: 20px;
  padding: 0;
  list-style: none;
}

nav.mobile-navigation .sub-menu {
  margin: 0;
  padding: 20px;
  list-style: none;
}

nav.mobile-navigation .menu .menu-item {
  list-style: none;
  font-family: $font-satisfy;
  font-size: 24px;
  color: $blue-dark;
}

nav.mobile-navigation .menu .menu-item a {
  color: $blue-dark;
  text-decoration: none;
}

nav.mobile-navigation .sub-menu .menu-item {
  display: block;
  font-family: 'Calibri', 'Arial';
  font-size: 18px;
  line-height: 30px;
}

nav.mobile-navigation .sub-menu .menu-item a {
  color: $pink-dark;
}