/* ---------------------------------------------------------------------------------------------------------------------
Posts
----------------------------------------------------------------------------------------------------------------------*/
.posts-list {
  @include min-screen($large-devices) {
    float: left;
    width: 720px;
  }
}

.post-preview {
  margin-bottom: 20px;
  border-radius: 3px;
  border-color: $blue-dark;
  border-style: solid;
  border-width: 1px;
  @include max-screen($large-devices - 1){
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0;
  }
}

.post-preview-image {
  height: 250px;
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
  @include max-screen($large-devices - 1){
    border-radius: 0;
  }
  @include max-screen($small-devices){
    height: auto;
  }
}

.post-preview-image img {
  position: relative;
  top: -25%;
  width: 100%;
  height: auto;
  display: block;
  @include max-screen($large-devices - 1){
    top: -75%;
  }
  @include max-screen($large-devices - 150){
    top: -55%;
  }
  @include max-screen($small-devices){
    top: 0;
  }
}

.post-preview-resume {
  padding: 10px 15px;
  @include max-screen($large-devices - 1){
    padding: 10px 20px;
  }
}

.post-preview-resume h2 {
  margin: 0;
  font-family: $font-satisfy;
  font-size: $font-size-title;
  color: $blue-dark;
  text-align: center;
}

.post-preview a.more-link {
  text-decoration: none;
}

.post-preview a.more-link {
  display: block;
  margin: 0 auto;
  width: 150px;
  content: "Lire la suite";
  padding: 5px 20px;
  font-family: $font-satisfy;
  font-size: 22px;
  text-align: center;
  color: $blue-dark;
  background-color: $blue-light;
  border-radius: 3px;
}

.post-preview-date-parution {
  font-family: 'Calibri', 'Arial';
  font-size: 13px;
  font-style: italic;
  text-align: center;
  color: $pink-light;
}